* {
    margin: 0;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    text-align: start;
    cursor: pointer;
    position: sticky;
}

.navbrand span {
    margin: 10px;
}

.newNavbar {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
    position: relative;
    top: -50px !important;
}

.navbar a {
    text-decoration: none;
}

.mynavbrand a {
    color: black;
    text-decoration: none;
}

.leftbgc {
    position: absolute;
    top: -20px;
    width: 18%;
    height: 60%;
}

.rightTopbgc {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 65%;
    z-index: -500;
}

.rightbgc {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -200;
    height: 100%;
    width: 50%;

}

.navbrand .infText {
    font-family: 'Regio Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

.collapseItem a {
    margin: 10px;
    color: black !important;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.applyBtn {
    padding: 10px 35px;
    color: white !important;
    background: #E79215;
    border: none;
    border-radius: 5px;
}

@media only screen and (min-width: 992px) {
    .mynavbrand {
        width: 45% !important;
    }

    .rightTopbgc {
        position: absolute;
        top: -55px;
    }
}

@media only screen and (min-width: 1200px) {
    .mynavbrand {
        width: 58% !important;
    }

    .rightTopbgc {
        width: 80%;
    }

}

@media only screen and (max-width: 991px) {
    .rightTopbgc {
        position: absolute;
        top: -55px !important;
    }
}

@media only screen and (max-width: 700px) {
    .leftbgc {
        position: absolute;
        top: -30px;
    }

    .rightTopbgc {
        position: absolute;
        top: -85px !important;
    }
}

@media only screen and (max-width: 600px) {
    .leftbgc {
        display: none;
    }

    .rightTopbgc {
        position: absolute;
        top: -100px !important;
        width: 90%;
    }
}

@media only screen and (max-width: 580px) {
    .rightbgc {
        position: absolute;
        top: -50px;
        width: 65%;
    }
}

@media only screen and (max-width: 400px) {
    .rightTopbgc {
        position: absolute;
        top: -100px !important;
    }

    .rightbgc {
        position: absolute;
        top: -70px;
        width: 70%;
    }

    .infIcon {
        width: 20%;
    }

    .infDrop {
        width: 1.8%;
    }

    .infText {
        font-size: 20px !important;
    }

    .navbarToggle {
        width: 35px;
        height: 30px;
    }

    .navbar-toggler-icon {
        position: relative;
        bottom: 4px;
        right: 6px;
        width: 22px;
        height: 20px;
    }

    .applyBtn {
        padding: 5px 20px !important;
        font-size: 13px;
        position: relative;
        left: 10px;
    }
}







/* CARUSEL CARUSEL CARUSEL CARUSEL CARUSEL */


.myCarusel .col-md-8 {
    margin-top: 50px;
}

.caruselUl ul {
    display: inline-flex;
    position: relative;
    top: 80px;
    left: -220px;
}

.caruselUl button {
    position: relative;
    left: -50px;
}

.carousel-inner div {
    text-align: start;
    font-family: "Gilroy";
    font-weight: 600;
    line-height: 92px;
    font-size: 50px;
    position: relative;
    left: 30px;
}

.batafsil {
    background-color: #fff;
    border: 2px solid #E79215;
    padding: 10px 30px;
    border-radius: 5px;
}

.batafsil a {
    color: #000000;
    text-decoration: none;
}

.batafsilBtn:hover {
    background: #E79215;
    color: white;
}

.batafsil:hover {
    background: #E79215;
    color: white;
}

@media only screen and (max-width: 1400px) {
    .caruselUl ul {
        position: relative;
        left: -160px;
    }
}

@media only screen and (max-width: 1200px) {
    .myCarusel .col-md-8 {
        position: relative;
        top: -50px;
    }

    .myCarusel .col-md-8 .carousel-item {
        font-size: 40px;
    }

    .caruselUl ul {
        position: relative;
        left: -120px;
        top: 70px;
    }

    .batafsil {
        padding: 5px 20px;
    }
}

@media only screen and (max-width: 992px) {
    .myCarusel .col-md-8 .carousel-item {
        font-size: 28px;
    }

    .caruselUl ul {
        position: relative;
        left: -45px;
    }

    .caruselImg {
        width: 130% !important;
        height: 100% !important;
    }

    .batafsil {
        padding: 5px 15px;
        font-size: 12px;
    }

    .caruselUl li {
        font-size: 12px;
    }
}

@media only screen and (max-width:768px) {
    .myCarusel .col-md-8 .carousel-item {
        font-size: 30px;
        text-align: center !important;
        justify-content: center;
    }

    .caruselUl {
        position: relative;
        left: 90px;
        top: 170px;
    }

    .caruselImg {
        width: 60% !important;
        margin: 0 auto !important;
        justify-content: center;
        justify-self: center;
    }

    .myCarusel .col-md-4 .caruselImg {
        position: relative;
        left: 120px !important;
    }
}

@media only screen and (max-width:500px) {
    .myCarusel .col-md-8 .carousel-item {
        font-size: 20px;
        text-align: center !important;
        justify-content: center;
    }

    .myCarusel {
        position: relative;
        left: -20px;
    }

    .caruselUl {
        position: relative;
        left: 90px;
    }

    .batafsil {
        padding: 3px 15px;
        font-size: 10px;
    }

    .caruselUl li {
        position: relative;
        top: -8px;
        font-size: 10px;
    }

    .myCarusel .col-md-4 .caruselImg {
        position: relative;
        left: 90px !important;
    }
}


/* yonalishlar yonalishlar yonalishlar */
.yonalishlar {
    margin-top: 200px;
}

.yonalishlar p:first-child,
.paragraf {
    font-weight: bold;
    font-size: 24px;
    margin: 8px;
}

.yonalishlar .card {
    margin-top: 30px;
    padding: 50px;
    height: 256px;
    width: 100%;
    margin-bottom: 50px;
}

.yonalishlar .card:hover {
    color: white !important;
    background-color: #E79215;
}

.yonalishlar .card:hover a {
    text-decoration: underline;
    color: white;
}

.yonalishlar .card h3 {
    font-size: 44px;
}

.yonalishlar .card p {
    opacity: 0.8;
    font-size: 18px;
    margin: 5px;
}

.yonalishlar .card a {
    margin-top: 60px !important;
    text-decoration: none;
}

@media only screen and (max-width:1200px) {
    .yonalishlar .card {
        height: 70%;
    }

    .yonalishlar .card h3 {
        font-size: 30px;
    }

    .yonalishlar .card p {
        font-size: 15px;
        margin: 2px;
    }

    .yonalishlar .card a {
        font-size: 12px;
    }
}

@media only screen and (max-width:992px) {
    .yonalishlar .card {
        height: 60% !important;
    }

    .yonalishlar .card h3 {
        font-size: 25px;
        margin: -25px;
    }

    .yonalishlar .card p {
        font-size: 12px;
        margin-top: 35px;
        margin-left: -25px;
    }

    .yonalishlar .card a {
        font-size: 8px;
        margin-top: 30px !important;
        margin-left: -25px !important;
    }
}

@media only screen and (max-width:767px) {
    .yonalishlar .card {
        margin-bottom: 0;
        height: 80% !important;
    }

    .yonalishlar .card h3 {
        font-size: 35px;
    }

    .yonalishlar .card p {
        font-size: 15px;
    }

    .yonalishlar .card a {
        font-size: 10px;
    }
}

/* paragraf */
.paragraf {
    position: relative;
    top: 80px;
}

.whyDiv .col-md-3 {
    margin-top: 120px !important;
}

.whyDiv .col-md-3 a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.whyDiv .col-md-3 p {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.starIcon {
    margin: 10px;
}

.teacherImg {
    width: 80%;
}

.btf2 {
    position: relative;
    left: 20px;
    font-size: 18px;
    padding: 10px 30px;
}

.trp {
    position: relative;
    left: 10px;
}

@media only screen and (max-width:1200px) {
    .whyDiv .col-md-3 {
        margin-top: 80px !important;
    }

    .whyDiv p {
        font-size: 17px !important;
    }

    .btf2 {
        font-size: 15px;
        padding: 6px 25px;
    }
}

@media only screen and (max-width:992px) {
    .whyDiv p {
        margin-bottom: 30px !important;
        font-size: 11px !important;
        font-weight: 500;
    }

    .icons {
        width: 20px;
        height: 20px;
    }

    .teacherImg {
        margin-top: 50px;
        width: 90%;
    }

    .starIcon {
        margin-top: -2px !important;
    }

    .like {
        margin-top: 0px !important;
    }

    .btf2 {
        position: relative;
        left: 15px;
        padding: 3px 15px;
        font-size: 10px;
    }
}

@media only screen and (max-width:767px) {
    .whyDiv p {
        font-size: 20px !important;
        font-weight: 500;
    }

    .icons {
        width: 30px;
        height: 30px;
    }

    .colmd3 {
        position: relative;
        top: -80px !important;
    }

    .teacherImg {
        width: 80% !important;
        position: relative;
        top: -50px;
        right: 50px;
    }

    .btf2 {
        padding: 5px 25px;
        font-size: 15px;
    }
}

/* Bizning galereya  */
.galereyaRow {
    margin-top: 120px;
}

.img1 {
    width: 100%;
    height: 60%;
    display: block;
}

.images {
    width: 100%;
    height: 60%;
}

.images2 {
    position: relative;
    top: -170px;
    width: 100%;
    height: 60%;
}

.overlay {
    position: relative;
    bottom: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.17%, #000000 103.74%);
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.overlay2 {
    position: relative;
    bottom: 130px;
}

.overlay3 {
    position: relative;
    bottom: 300px;
}

.img1Div:hover .overlay {
    opacity: 1;
}


@media only screen and (max-width:1200px) {
    .images2 {
        position: relative;
        top: -140px;
    }

    .overlay2 {
        position: relative;
        bottom: 150px !important;
        font-size: 18px;
    }

    .overlay3 {
        position: relative;
        bottom: 285px !important;
        font-size: 18px;
        padding: 18px !important;
    }

}

@media only screen and (max-width:1400px) {
    .overlay2 {
        position: relative;
        bottom: 130px;
    }

    .overlay3 {
        position: relative;
        bottom: 300px;
    }
}

@media only screen and (max-width:992.9px) {

    .img1,
    .images {
        height: 50%;
    }

    .images2 {
        position: relative;
        top: -140px;
        height: 50% !important;
    }

    .overlay {
        position: relative;
        bottom: 85px;
        font-size: 15px;
    }

    .overlay2 {
        position: relative;
        bottom: 110px;
        font-size: 12px;
    }


    .overlay3 {
        position: relative;
        bottom: 250px !important;
        font-size: 12px;
    }
}

@media only screen and (max-width:767.5px) {
    .galereyaRow {
        margin-top: 200px;
    }

    .img1 {
        height: 100%;
        position: relative;
        bottom: 80px;
        width: 100%;
    }

    .images {
        position: relative;
        top: -10px;
        width: 100%;
    }

    .images2 {
        position: relative;
        top: -9px;
        width: 100%;
    }

    .imgs2 {
        position: relative;
        top: -130px;
    }

    .overlay {
        position: relative;
        bottom: 160px;
    }

    .overlay2 {
        position: relative;
        bottom: 100px !important;
    }

    .over3 {
        position: relative;
        top: -100px;
    }

    .overlay3 {
        position: relative;
        bottom: 220px !important;
        padding: 18px;
    }
}

@media only screen and (max-width:576.5px) {
    .images2 {
        position: relative;
        top: -220px;
    }

    .imgs2 {
        position: relative;
        top: -420px;
    }

    .img5 {
        position: relative;
        top: -620px;
    }

    .overlay2 {
        position: relative;
        bottom: 80px !important;
        padding: 18px;
    }

    .over3 {
        position: relative;
        top: -290px !important;
        padding: 18px;
    }

    .overlay3 {
        position: relative;
        top: -490px;
    }

    .over5 {
        position: relative;
        top: -690px !important;
    }
}

@media only screen and (max-width:440px) {
    .imageAll {
        margin-bottom: 80px;
    }

    .overlay {
        position: relative;
        top: -180px;
        padding: 18px;
    }

    .overlay2 {
        position: relative;
        top: -160px;
    }

    .over3 {
        position: relative;
        top: -370px !important;
    }

    .over4 {
        position: relative;
        top: -570px;
    }

    .over5 {
        position: relative;
        top: -770px !important;
    }
}

/* footer footer */

.footer {
    background-color: rgb(254, 248, 241);
    cursor: pointer;
    /* background-image: url(./Images/footerImg.png);
    background-repeat: no-repeat;
    width: auto; */
}

@media screen and (max-width:500px) {
    .footer {
        position: relative;
        top: 900px;
    }
}

.footer .container:first-child {
    padding: 80px;
}

.footer .container:last-child {
    padding: 30px;
}

.fanlar a {
    text-decoration: none;
    color: black;
    opacity: 0.9;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    top: 20px;
}

.footer .fourIcons {
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: black;
}


@media only screen and (max-width:992.5px) {
    .footer .container:first-child .col-md-8 {
        width: 100%;
    }

    .iconSide {
        text-align: start;
        justify-content: flex-start;
        margin-top: 50px;
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    /* .footer {
        margin-top: -200px;
    } */

    .footer .container:first-child .col-md-8 .col-md-4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .call {
        position: relative;
        right: 0px !important;
    }
}

@media only screen and (max-width:500px) {
    .footer {
        margin-top: -650px;
    }

    .footer .container:last-child {
        font-size: 10px;
        text-align: start !important;
        padding: 50px;
    }

    .right {
        position: relative;
        top: -50px !important;
        left: 30px !important;
    }

    .call {
        position: relative;
        top: -30px !important;
        left: 30px !important;
    }
}


/* dasturlash dasturlash */
.dasturlash .border {
    position: relative;
    left: 20px;
    width: 98%;
    height: 343px;
    margin-top: 120px;
    margin-bottom: 50px;
}

.foundationImg {
    position: relative;
    top: -40px;
    width: 60%;
}

.htmlImg {
    position: relative;
    right: 70px;
    top: -25px;
    width: 65%;
}

.computerImg {
    position: relative;
    top: 12px;
    left: -150px;
    width: 80%;
}

.reactImg {
    position: relative;
    top: -24.5px;
    right: -40px;
    width: 80%;
}

.dasturlashText {
    width: 35%;
    margin: 50px auto;
}

.dasturlashText h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
}

.dasturlashText p {
    opacity: 0.8;
    margin-top: 20px;
    line-height: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.batafsilBtn {
    border: 1px solid #E79215;
    border-radius: 4px;
    padding: 8px 40px;
    background-color: #fff;
    font-style: normal;
}

.qabul {
    background: #E79215;
    border-radius: 4px;
    padding: 8px 40px;
    border: none;
    color: white;
    font-style: normal;
}

.contactContainer {
    width: 97%;
    margin-bottom: 50px;
}

.borderContactImg {
    border: 2px solid #3F3D56;
    padding: 10px;
}

.contactContainer input {
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin-bottom: 50px !important;
}

.contactContainer .col-md-8 {
    position: relative;
    top: 20px;
}

.sendBtn {
    background: #3F3D56;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    color: white;
}

@media only screen and (max-width:1400px) {
    .dasturlash .border {
        height: 289px;
    }

    .dasturlashText {
        width: 40%;
        margin: 0px;
        position: relative;
        top: 50px;
        right: -30px;
    }

    .htmlImg {
        position: relative;
        right: -40px;
        top: -24px;
        width: 64%;
    }

    .computerImg {
        position: relative;
        top: 5px;
    }

    .reactImg {
        position: relative;
        right: -150px;
        top: -27px;
    }

    .contactImg {
        height: 100%;
    }

    .contactContainer input {
        font-size: 15px;
        margin-top: -20px;
    }

    .sendBtn {
        margin-top: -10px;
    }
}

@media only screen and (max-width:1200px) {
    .dasturlash .border {
        height: 280px;
    }

    .foundationImg {
        width: 70%;
    }

    .htmlImg {
        position: relative;
        top: -45px;
        width: 80%;
    }

    .computerImg {
        position: relative;
        top: 12px;
        left: -75px;
        width: 90%;
    }

    .reactImg {
        position: relative;
        top: -32px;
        width: 95%;
        right: -120px;
    }

    .dasturlashText {
        width: 40%;
        margin: 0px;
        position: relative;
        top: 50px;
        right: -30px;
    }

    .dasturlashText h1 {
        font-size: 30px;
    }

    .dasturlashText p {
        font-size: 12px;
    }

    .batafsilBtn,
    .qabul {
        padding: 6px 30px;
        font-size: 12px;
    }

    .contactContainer input {
        font-size: 12px;
        margin-top: -25px;
    }

    .sendBtn {
        margin-top: -18px !important;
        font-size: 10px;
        padding: 8px 20px;
    }
}

@media only screen and (max-width:992px) {
    .dasturlash .border {
        height: 263px;
    }

    .foundationImg {
        width: 90%;
    }

    .computerImg {
        position: relative;
        left: -50px;
        top: 43px;
        width: 100% !important;
    }

    .reactImg {
        width: 100%;
        top: 38px;
        right: -90px;
    }

    .frontendBorder {
        height: 280px !important;
    }

    .frontendText {
        position: relative;
        top: 30px;
        left: 50px;
        width: 40% !important;
    }

    .htmlImg {
        position: relative;
        right: -40px;
        top: -20px;
        width: 100%;
    }

    .dasturlashText {
        position: relative;
        right: 30px;
        width: 50%;
    }

    .dasturlashText h1 {
        font-size: 25px;
    }

    .borderContactImg,
    .contactContainer .col-md-8 {
        width: 50%;
    }

    .contactContainer .col-md-8 input {
        width: 80%;
    }

    .sendBtn {
        position: relative;
        top: -20px;
    }
}

@media only screen and (max-width:767px) {
    .dasturlash .border {
        width: 92%;
        height: 100%;
    }

    .foundationImg {
        width: 90%;
    }

    .computerImg {
        position: relative;
        top: -30px;
        left: -100px;
        width: 80% !important;
    }

    .reactImg {
        position: relative;
        right: -30px;
        top: 94px;
        width: 80% !important;
    }

    .frontendBorder {
        height: 600px !important;
    }

    .frontendText {
        position: relative;
        top: 20px !important;
        width: 80% !important;
    }

    .htmlImg {
        position: relative;
        top: 72px;
        right: 30px;
        width: 70% !important;
    }

    .dasturlashText {
        position: relative;
        top: -10px;
        right: -90px;
        width: 70%;
    }

    .dasturlashText h1 {
        font-size: 30px;
    }

    .dasturlashText p {
        font-size: 15px;
    }

    .batafsilBtn,
    .qabul {
        padding: 8px 35px;
    }

    .borderContactImg {
        margin: 0 auto;
        width: 55%;
    }

    .CONTACTDiv {
        text-align: center;
    }

    .contactContainer .col-md-8 {
        margin: 0 auto;
    }

    .contactContainer .col-md-8 input {
        width: 100%;
    }

    .sendBtn {
        position: relative;
        top: -20px;
    }
}

@media only screen and (max-width:577px) {
    .computerImg {
        position: relative;
        left: -80px;
        width: 65% !important;
    }

    .reactImg {
        position: relative;
        top: 110px;
        width: 75% !important;
    }
}


@media only screen and (max-width:545px) {
    .htmlImg {
        position: relative;
        top: 70px !important;
    }

    .reactImg {
        position: relative;
        top: 112px;
        right: -20px;
    }

    .cont {
        position: relative;
        margin: 0;
    }

}


@media only screen and (max-width:462px) {
    .htmlImg {
        position: relative;
        top: 70px !important;
        width: 80% !important;
    }

    .reactImg {
        position: relative;
        top: 150px;
        right: -20px;
        width: 75% !important;
    }
}

@media only screen and (max-width:400px) {
    .reactImg {
        position: relative;
        top: 140px;
        right: -10px;
    }
}

@media only screen and (max-width:350px) {
    .dasturlashText {
        position: relative;
        right: -60px;
    }

    .reactImg {
        position: relative;
        top: 140px;
    }
}


/* Ingliz tili */
.EnglishCont {
    margin: 25px;
    width: 97% !important;
}

.IngImgDiv {
    text-align: center;
    width: auto;
}

.IngImages {
    border: 2px solid #D1D5DB;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    position: relative;
}

.EnglishCont p {
    font-size: 20px;
}

@media only screen and (max-width:1200px) {
    .IngImgDiv {
        width: 50%;
    }

    .generalDiv {
        width: 40%;
        position: relative;
    }

    .generalDiv p,
    .IELTSDiv p {
        font-size: 16px;
    }

    .IELTSDiv {
        position: relative;
        left: 80px;
    }

    .IngImg2 {
        position: relative;
        left: 100px;
    }
}

@media only screen and (max-width:992px) {
    .generalDiv {
        position: relative;
        top: 40px;
        left: 20px;
    }

    .generalDiv h1 {
        font-size: 22px;
    }

    .generalDiv p {
        position: relative;
        top: -10px;
        font-size: 12px;
    }

    .batafsilBtn,
    .qabul {
        position: relative;
        top: -20px;
        font-size: 10px;
        padding: 5px 20px;
    }

    .IELTSDiv {
        position: relative;
        top: 40px;
        left: 50px;
        width: 40%;
    }

    .IELTSDiv p {
        position: relative;
        font-size: 12px;
    }

    .ieltsbtn {
        position: relative;
        left: -10px;
    }

    .IngImg2 {
        position: relative;
        left: 80px;
    }
}

@media only screen and (max-width:767.5px) {
    .IngImgDiv {
        margin: 50px auto;
        width: 80%;
    }

    .IngImages {
        width: 100%;
    }

    .generalDiv {
        position: relative;
        top: -20px;
        left: 95px;
        width: 70% !important;
    }

    .IELTSDiv {
        width: 70% !important;
    }

    .IngImg2 {
        position: relative;
        left: 0;
    }

    .generalDiv h1,
    .IELTSDiv h1 {
        font-size: 28px;
    }

    .generalDiv p,
    .IELTSDiv p {
        font-size: 16px;
    }

    .batafsilBtn,
    .qabul {
        padding: 8px 35px;
        font-size: 15px;
    }
}

@media only screen and (max-width:576.5px) {
    .EnglishCont {
        width: 90% !important;
    }

    .generalDiv {
        position: relative;
        left: 80px;
    }

    .batafsilBtn,
    .qabul {
        padding: 5px 25px;
    }

    .qabul {
        position: relative;
        left: -2px;
    }
}

@media only screen and (max-width:400px) {
    .generalDiv {
        position: relative;
        left: 60px;
    }

    .batafsilBtn,
    .qabul {
        font-size: 12px;
    }
}



/* foundation */
.Foundation {
    width: 85%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.foundationRow {
    margin-top: 50px;
}

.Foundation .border {
    height: 580px;
}

.foundationDiv {
    margin: 50px;
    width: 35%;
}

.foundationDiv p {
    font-weight: 500;
    line-height: 45px;
}

.foundationDiv button {
    font-weight: 500;
    margin-top: 50px;
}

.foundationImg {
    text-align: center;
    width: 60%;
    padding: 10px;
    position: relative;
    top: 90px;
}

.foundationImg2 {
    position: relative;
    bottom: 45%;
    left: 8%;
    opacity: 0.1;
    width: 60%;
}

.IconRow {
    margin: 0 auto;
    width: 90%;
}

.IconRow span {
    position: relative;
    top: 8px;
    left: 15px;
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    color: #233249;
}

.KursRow hr {
    width: 85%;
}

@media only screen and (max-width:1200px) {
    .foundationImg2 {
        bottom: 38%;
    }

    .KursRow h4 {
        font-size: 18px;
    }

    .KursRow p {
        font-size: 14px;
    }

    .KursRow hr {
        width: 100%;
    }

}

@media only screen and (max-width:1240px) {
    .IconRow .iconsFoun {
        height: 30px;
        width: 30px;
    }

    .IconRow span {
        top: 3px;
        font-size: 25px;
    }
}

@media only screen and (max-width:1100px) {
    .foundationDiv {
        width: 38%;
    }

    .foundationImg2 {
        bottom: 30%;
    }
}

@media only screen and (max-width:992px) {
    .Foundation .border {
        height: 100%;
    }

    .foundationImg {
        width: 100%;
        left: 40%;
    }

    .foundationImg2 {
        left: 50%;
        bottom: 45%;
        width: 100%;
    }

    .foundationDiv {
        width: 80%;
    }

    .imgDiv {
        width: 60%;
    }

    .KursRow .col-md-4 {
        width: 50%;
    }

}

@media only screen and (max-width:600px) {
    .foundationDiv h1 {
        font-size: 22px;
    }

    .foundationDiv p {
        font-size: 14px;
    }

    .foundationImg2 {
        bottom: 38%;
    }

    .KursRow .col-md-4 {
        width: 100%;
    }

}

@media only screen and (max-width:500px) {
    .foundationImg2 {
        bottom: 35%;
    }
}

@media only screen and (max-width:400px) {
    .foundationImg2 {
        bottom: 25%;
    }
}

/* about */
.aboutRow {
    margin: 100px auto;
    width: 98%;
}

.aboutRow p {
    width: 60%;
}

.ajoyibDiv {
    position: relative;
    top: -100px;
}

.natijalar {
    position: relative;
    top: 140px;
    left: 40%;
    font-size: 25px;
    font-weight: bold;
    width: 20%;
}

.mask {
    position: relative;
    top: -150px;
    left: 150px;
    z-index: -5;
    width: 35%;
    height: 200px;
    background: rgb(227, 138, 142);
    border-radius: 0 50% 50% 0;
}

.maskImg {
    position: relative;
    top: -68px;
    width: 150px !important;
}

.star1 {
    position: relative;
    top: 100px;
    left: 160px;
}

.star2 {
    position: relative;
    top: 40px;
    left: 180px;
}

.yellowPlus {
    position: relative;
    left: 250px;
}

.bookDiv {
    position: relative;
    top: -180px;
    left: 30px;
    width: 30%;
    height: 25%;
    z-index: 6;
    background: rgb(255, 219, 89);
}

.bookImg {
    position: relative;
    top: -40px;
    left: 50px;
    width: 100%;
}

.bookDiv h4 {
    position: relative;
    top: 20px;
    left: 30px;
    line-height: 30px;
    width: 20%;
    font-weight: 600;
    font-size: 18px;
}

.bookDiv p {
    position: relative;
    top: 20px;
    left: 32px;
    opacity: 0.5;
    font-size: 12px;
}

@media only screen and (max-width:1400px) {
    .mask {
        left: 120px;
    }

    .star1 {
        left: 130px;
    }

    .star2 {
        left: 150px;
    }

    .bookDiv {
        top: -180px;
        width: 35%;
    }

    .bookImg {
        top: -43px;
        left: 40px;
    }

    .aboutRow p {
        font-size: 15px;
    }
}

@media only screen and (max-width:1200px) {
    .aboutRow p {
        font-size: 13px;
    }

    .mask {
        width: 45%;
        left: 50px;
    }

    .star1 {
        left: 150px;
    }

    .star2 {
        left: 160px;
    }

    .bookImg {
        top: -37px;
        left: 30px;
    }

    .bookDiv {
        width: 40%;
        top: -180px;
        left: -50px;
    }
}

@media only screen and (max-width:992px) {
    .aboutRow .col-md-6 {
        width: 100%;
    }

    .ajoyibImgDiv {
        position: relative;
        top: 30px;
    }

    .mask {
        width: 35%;
        left: 150px;
    }

    .bookDiv {
        width: 30%;
        left: 40px;
    }

    .bookImg {
        top: -48px;
    }
}

@media only screen and (max-width:767px) {
    .mask {
        left: 100px;
    }

    .star1 {
        left: 120px;
    }

    .star2 {
        left: 130px;
    }

    .yellowPlus {
        width: 40px;
        left: 200px;
    }

    .bookDiv {
        left: 20px;
    }

    .bookImg {
        top: -25px;
    }
}

@media only screen and (max-width:470px) {
    .mask {
        top: -166px;
        width: 30%;
        height: 18%;
        left: 100px;
    }

    .star1 {
        left: 85px;
        top: 55px;
        width: 15%;
    }

    .star2 {
        top: 10px;
        width: 25%;
        left: 97px;
    }

    .yellowPlus {
        width: 25px;
        left: 140px;
        top: -35px;
    }

    .circle {
        width: 30%;
    }

    .maskImg {
        position: relative;
        top: -110px;
        width: 100px !important;
    }

    .natijalar {
        top: 120px;
        text-align: center;
        font-size: 13px;
        position: relative;
        left: 180px;
        width: 13%;
    }

    .bookDiv {
        width: 30%;
        height: 20%;
    }

    .bookDiv h4 {
        font-size: 10px;
        line-height: 15px;
    }

    .bookDiv p {
        font-size: 8px;
    }

    .bookImg {
        top: -15px;
    }
}

@media only screen and (max-width:400px) {
    .mask {
        top: -166px;
        width: 30%;
        height: 18%;
        left: 100px;
    }

    .star1 {
        left: 65px;
        top: 35px;
        width: 15%;
    }

    .star2 {
        top: -8px;
        width: 20%;
        left: 80px;
    }

    .yellowPlus {
        width: 20px;
        left: 120px;
        top: -35px;
    }

    .circle {
        width: 30%;
    }

    .maskImg {
        position: relative;
        top: -102px;
        width: 90px !important;
    }

    .natijalar {
        top: 120px;
        text-align: center;
        font-size: 13px;
        position: relative;
        left: 145px;
        width: 15%;
    }

    .bookDiv {
        left: 50px;
        width: 30%;
        height: 20%;
    }

    .bookDiv h4 {
        font-size: 10px;
        line-height: 15px;
    }

    .bookDiv p {
        font-size: 8px;
    }

    .bookImg {
        top: -9px;
    }
}

.jamoaRow div {
    border-right: 1px solid #D1D5DB;
    margin-bottom: 50px;
}

.jamoa {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.jamoaIsm {
    margin-top: 20px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
}

.jamoaRow button {
    border-radius: 50px;
    background: white;
    padding: 5px 20px;
    border: 2px solid #E79215;
    text-transform: uppercase;
    font-size: 16px;
}

@media only screen and (max-width:1400px) {
    .jamoaIsm {
        font-size: 20px;
    }

    .jamoaRow img {
        width: 90%;
    }
}

@media only screen and (max-width:1200px) {
    .jamoaIsm {
        font-size: 18px;
    }

    .jamoaRow button {
        font-size: 12px;
        padding: 5px;
    }
}

@media only screen and (max-width:992px) {
    .jamoaIsm {
        font-size: 13px;
    }

    .jamoaRow button {
        font-size: 10px;
        padding: 3px;
    }

    .jamoaRow p {
        font-size: 10px;
    }
}

@media only screen and (max-width:767px) {
    .jamoaIsm {
        font-size: 20px;
    }

    .jamoaRow button {
        font-size: 10px;
        padding: 5px;
    }

    .jamoaRow p {
        font-size: 12px;
    }
}

.blogRow {
    margin-top: 20px;
}

.blogRow .col-md-6:first-child,
.borderMini {
    border: 2px solid #E79215;
}

.blogRow .col-md-6:first-child {
    height: 93.4%
}

.borderMini {
    position: relative;
    left: 30px;
}

.blogImg1 {
    width: 100%;
    padding: 30px;
}

.info {
    position: relative;
    left: 50px;
}

@media only screen and (max-width:1400px) {
    .info2 {
        position: relative;
        left: 20px !important;
    }
}

@media only screen and (max-width:1200px) {

    .borderMini .col-md-8 {
        position: relative;
        left: 50px;
    }

    .borderMini h3 {
        font-size: 20px;
    }

    .blogRow .icon {
        height: 12px;
        width: 12px;
    }

    .blogImg1 {
        padding: 10px;
    }

    .blogRow .col-md-6:first-child {
        height: 91.5% !important;
    }

    .blogImg {
        padding: 0px;
        width: 100%;
    }
}

@media only screen and (max-width:992px) {
    .blogRow .col-md-6:first-child {
        height: 45% !important;
        text-align: center;
    }

    .info {
        position: relative;
        left: 80px;
        top: 30px;
        text-align: start !important;
    }

    .info p:last-child {
        position: relative;
        left: 5px;
    }

    .blogImg1 {
        width: 80%;
    }

    .borderMini {
        position: relative;
        left: 0;
        margin-top: 50px;
    }
}

@media only screen and (max-width:767px) {
    .blogRow .col-md-6:first-child {
        height: 40% !important;
        text-align: center;
    }

    .info {
        position: relative;
        left: 50px;
        top: 30px;
        text-align: start !important;
    }

    .info p:last-child {
        position: relative;
        left: 5px;
        width: 74% !important;
    }

    .borderMini .blogImg {
        width: 80%;
    }

    .borderMini .info2 {
        position: relative;
        left: -40px !important;
    }

    .info2 h3 {
        font-size: 19px;
    }

    .info2 p {
        font-size: 14px;
    }

    .info2 span {
        position: relative;
        left: 25px;
        top: 5px;
    }

    .info2 .icon {
        position: relative;
        top: 20px;
        left: -130px;
    }
}

@media only screen and (max-width:575.5px) {
    .info p:last-child {
        width: 65% !important;
    }

    .blogRow .col-md-6:first-child {
        height: 30% !important;
    }

    .borderMini .blogImg {
        width: 80%;
    }

    .borderMini {
        text-align: center !important;
    }

    .lala {
        margin-bottom: 250px !important;

    }

    .info2 h3 {
        position: relative;
        left: 50px !important;
    }

    .info2 p {
        position: relative;
        left: 150px !important;
        width: 60% !important;
    }

    .info2 span {
        top: 0;
        left: 5px;
    }

    .info2 .icon {
        top: 0;
        left: 0;
    }
}

/* contact */
.contactCont .iconRow {
    margin: 0px;
    width: 90%;
}

.contactCont button {
    background-color: white;
    padding: 8px 25px;
    border: 1px solid #D1D5DB;
}

.boglanish {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}


.locationDiv img {
    position: relative;
    width: 90%;
    left: 60px;
    border: 1px solid #D1D5DB;
    padding: 10px;
}

.locIcon {
    position: relative;
    left: 420px;
    top: -10px;
    z-index: 45;
}

.locationIcon {
    position: relative;
    left: 5px;
}

@media only screen and (max-width:1400px) {
    .contactCont button .iconBtn {
        padding: 0;
        width: 18px;
        height: 18px;
    }

    .contactCont button {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .contactCont .border .miniIcons {
        width: 18px;
        height: 18px;
    }

    .locIcon {
        position: relative;
        left: 380px;
        top: -10px;
    }
}

@media only screen and (max-width:1200px) {
    .locationDiv img {
        position: relative;
        left: 43px;
        width: 88%;
    }

    .locIcon {
        position: relative;
        left: 315px;
        top: -10px;
    }
}

@media only screen and (max-width:992px) {
    .contactCont .iconRow .col-md-4 {
        width: 50% !important;
    }

    .contactCont button {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .contactCont .border span {
        font-size: 15px;
    }

    .aloqaImg {
        width: 80% !important;
    }

    .locationDiv {
        position: relative;
        left: -30px !important;
    }

    .locationDiv img {
        position: relative;
        width: 100%;
        top: -50px;
    }

    .locIcon {
        position: relative;
        left: 205px;
        top: 115px;
        width: 10%;
    }
}

@media only screen and (max-width:767px) {
    .aloqaImg {
        margin-bottom: 50px;
    }

    .locationDiv {
        left: -40px !important;
    }

    .locIcon {
        position: relative;
        left: 165px;
        top: 85px;
        width: 10%;
    }
}

@media only screen and (max-width:575.5px) {
    .contactCont .col-md-6:last-child {
        margin: 0 auto;
        width: 80%;
    }

    .contactCont .iconRow .col-md-4 {
        width: 100% !important;
    }
}

@media only screen and (max-width:470px) {

    .locIcon {
        position: relative;
        left: 145px;
        top: 70px;
        width: 10%;
    }
}